<% content_for :title do %>About<% end %>
<h3>About Jose Velazquez</h3>
<p>Nothing is known about him. </p>
<p>All who have tried to find out have never returned. If I were you I would leave this page as fast as possible before he finds out you've been looking in to his past. I heard he once killed a guy for asking him how his day was. I'm serious, you need to get out... oh god. He's here! Oh my god! No! No! Noooooo! Aaaaghhhgh!</p>
